DOMAIN=stg-tutor.peardeck.com
DEBUG=false
PLAYWRIGHT_PRODUCT=chrome
DELAY=1000
RECORD_VIDEO=false
VERBOSE=true
QASE_API_TOKEN=6121a23d0e6707c29e14ff3cd850e0605bf3c37aa92f530cd8a02ec641b94fad
REPORT=true 
QASE_PROJECT_CODE=becomeTutor 
WORKFLOW_NAME="TM Test"
